<h2><%= @user.fname %> Posts</h2>

<% @posts.each do |p| %>
	<p><%= p.body %></p>
	<% if @user.id == session[:user_id] %>
	<p><%= link_to 'Edit Post', edit_user_post_path(p.user_id, p.id)%></p>
	<p><%= link_to('Delete Post', user_post_path(p.user_id, p.id), method: :delete)%></p>
	<% end %>	
<% end %>